<h2>DATASET TEMPLATE</h2>

<dl>
    <dt>id:</dt>
    <dd>{{this.model.id}}</dd>
    <dt>title:</dt>
    <dd>{{this.model.title}}</dd>
</dl>

<LinkTo @route="datasets.dataset.edit-engine" @model={{this.model.id}}>edit</LinkTo>