<h1>DATASETS TEMPLATE</h1>

<div>
  <LinkTo @route="datasets.dataset" @model="abc123">
    abc123
  </LinkTo>
  <br>
  <LinkTo @route="datasets.dataset" @model="def456">
    def456
  </LinkTo>
</div>

<hr>

{{outlet}}